{include app/tpl/parts/head.tpl}
<div id="login">
  <div id="login-title">Sign In</div>
  <form method="POST" action="./login">
    <div class="input-group">
      <div class="input-icon">
        <i class="fa fa-key fa-fw"></i>
      </div><!--
      --><input type="password" name="password" autofocus="autofocus" placeholder="Password..." />
    </div>
    <input type="submit" value="Sign In" />
  </form>
</div>
{include app/tpl/parts/foot.tpl}