{include app/tpl/parts/head.tpl}
<div id="legal">
  <p>Third-party libraries are listed in machine-readable format in <a href="https://gitlab.com/FloorIsJava/KgF2/-/blob/main/Cargo.lock">Cargo.lock</a>.</p>
  <hr />
  <p>Font Awesome Free License</p>
  <p>-------------------------</p>
  <p>Font Awesome Free is free, open source, and GPL friendly. You can use it for commercial projects, open source projects, or really almost whatever you want. Full Font Awesome Free license: https://fontawesome.com/license/free.</p>
  <p>Icons: CC BY 4.0 License (https://creativecommons.org/licenses/by/4.0/)</p>
  <p>In the Font Awesome Free download, the CC BY 4.0 license applies to all icons packaged as SVG and JS file types.</p>
  <p>Fonts: SIL OFL 1.1 License (https://scripts.sil.org/OFL)</p>
  <p>In the Font Awesome Free download, the SIL OFL license applies to all icons packaged as web and desktop font files.</p>
  <p>Code: MIT License (https://opensource.org/licenses/MIT)</p>
  <p>In the Font Awesome Free download, the MIT license applies to all non-font and non-icon files.</p>
  <p>Attribution</p>
  <p>Attribution is required by MIT, SIL OFL, and CC BY licenses. Downloaded Font Awesome Free files already contain embedded comments with sufficient attribution, so you shouldn't need to do anything additional when using these files normally.</p>
  <p>We've kept attribution comments terse, so we ask that you do not actively work to remove them from files, especially code. They're a great way for folks to learn about Font Awesome.</p>
  <p>Brand Icons</p>
  <p>All brand icons are trademarks of their respective owners. The use of these trademarks does not indicate endorsement of the trademark holder by Font Awesome, nor vice versa. Please do not use brand logos for any purpose except to represent the company, product, or service to which they refer.</p>
  <hr />
  <p>KgF2</p>
  <p>Copyright &copy; 2021 FloorIsJava</p>
  <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
  <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
  <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
  <hr />
</div>
{include app/tpl/parts/foot.tpl}