      </div>
      <div id="footer">
        <p>Copyright &copy; 2021 FloorIsJava</p>
        <p>
          <a href="https://gitlab.com/FloorIsJava/KgF2" target="_blank">Repository</a> &mdash;
          <a href="./legal" target="_blank">Legal</a>
        </p>
      </div>
    </div>
  </body>
</html>
