input[type=text], input[type=password] {
  margin: 0;
  padding: 6px;
  height: 31px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  background-color: #f8f8f8;
}

input[type=submit] {
  margin: 0;
  padding: 6px;
  height: 48px;
  border: 1px solid black;
  border-radius: 2px;
  outline: none;
  background-color: rgba(20, 140, 20, 0.9);
  color: #f0f0f0;
  font-weight: bold;
  font-size: larger;
  font-variant: small-caps;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(20, 110, 20, 0.9);
}

input[type=submit]:active {
  box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.4);
}

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.input-group .input-icon {
  display: inline-block;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px 0;
  border: 1px solid transparent;
  border-color: rgba(0, 0, 0, 1);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right-style: none;
  height: 31px;
  width: 36px;
  text-align: center;
  vertical-align: top;
}

.input-group input {
  display: inline-block;
  width: calc(100% - 36px);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  vertical-align: top;
}