#legal {
  text-align: justify;
  text-align-last: center;
  font-size: smaller;
  max-width: 768px;
  margin: 0 auto;
}

#legal hr {
  width: 40%;
  margin: 15px auto;
  border: none;
  border-top: 1px solid #CCCCCC;
}

#legal p + p {
  margin-top: 5px;
}