#login {
  border: 1px solid #336633;
  max-width: 480px;
  margin: 1cm auto 25px auto;
  background-color: rgba(0, 1, 0, 0.1);
  padding: 25px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

#login-title {
  font-size: 24px;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 15px;
}

#login input[type=submit] {
  width: 100%;
}