* {
  box-sizing: border-box;
}

html, body, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
}

a, a:visited, a:hover, a:active, a:link {
  color: black;
  text-decoration: underline;
}

#main-page {
  color: #333333;
}

#header {
  height: 50px;
  width: 100%;
  background-color: #279911;
  border-bottom: 1px solid #1f770d;
  overflow: hidden;
}

#header-text {
  color: #dddddd;
  text-shadow: 0 0 1px black;
  font-variant: small-caps;
  font-size: 30px;
  padding: 7px 0;
  font-family: sans-serif;
  text-align: center;
  cursor: default;
  user-select: none;
}

#content {
  padding: 0 calc(min(1cm, 2%));
  margin: 10px 0;
}

#footer {
  text-align: justify;
  text-align-last: center;
  font-size: smaller;
  margin: 0 auto;
  max-width: 768px;
  padding: 0 15px;
}

#footer p + p {
  padding-top: 5px;
}